:root {
  --base-color: rgb(92 131 165);
  --primary-color: rgb(82 190 17);
  --primary-text-color: rgb(65 143 20);
  --base-color-light: rgb(92 131 165 / 30%);

  /* Font styles */
  --base-font-size: 1rem;
  --text-margin: 1em;
  --small-font-size: 0.8rem;
  --text-line-height: 1.5;

  /* Elements styles */
  --base-box-shadow: 0 0 20px rgba(107 114 113 / 15%);
  --base-border-radius: 5%;
}
