<label class="image-upload-wrapper">
  <span>Select Image:</span>
  <button type="button" (click)="imageInput.click()" mat-raised-button color="primary">Choose file</button>
  <input
    #imageInput
    hidden
    type="file"
    name="image"
    accept="image/*"
    (change)="processFile(imageInput)"
  />
</label>
<p *ngIf="error$ | async" class="text-danger">
  Some error happened, try another file
</p>
<div *ngIf="imageUrl$ | async as imageUrl" class="preview">
  <img class="preview__image" alt="" [src]="imageUrl" />
</div>
