<div class="chip-list-wrapper">
  <mat-chip-list #chipList>
    <ng-container *ngFor="let select of selectedItems">
      <mat-chip class="cardinal-colors">
        {{ select.value }}
        <mat-icon class="mat-chip-remove" (click)="onRemoveClicked(select)"
          >cancel</mat-icon
        >
      </mat-chip>
    </ng-container>
  </mat-chip-list>
</div>

<mat-form-field class="full-width">
  <input
    matInput
    type="text"
    [placeholder]="placeholder"
    [matAutocomplete]="auto"
    [formControl]="searchControl"
  />
</mat-form-field>

<mat-autocomplete (optionsScroll)="onScroll()" #auto="matAutocomplete">
  <mat-option
    *ngFor="let item of items$ | async"
  >
    <mat-checkbox
      [checked]="item.isSelected"
      (change)="toggleSelection(item)"
      (click)="$event.stopPropagation()"
    >
      {{ item.value }}
    </mat-checkbox>
  </mat-option>
</mat-autocomplete>
