:root {
  --tolbar-backround-color: rgb(255 255 255);
}

.anime-page-wrapper {
  display: grid;
  grid-template-columns: 1fr 3fr;
}

.anime-list,
.anime-details {
  height: calc(100vh - var(--header-height));
  overflow-y: auto;
}

.anime-list__toolbar {
  position: sticky;
  background-color: var(--tolbar-backround-color);
  top: 0;
  z-index: 1;
  padding: 10px;
}
