<div class="form-wrapper">
  <h1>Login</h1>
  <form [formGroup]="loginForm" class="form" (ngSubmit)="onSubmit()">
    <mat-form-field appearance="outline">
      <mat-label>Email</mat-label>
      <input
        matInput
        formControlName="email"
        type="email"
        name="email"
        placeholder="Type email"
      />
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Password</mat-label>
      <input
        matInput
        type="password"
        formControlName="password"
        name="password"
        placeholder="Type password"
        autocomplete="current-password"
      />
    </mat-form-field>
    <div *ngIf="loginForm.hasError(serverErrorKey)" class="form__base-errors">
      <p class="text-danger">{{loginForm.getError(serverErrorKey)}}</p>
    </div>
    <div class="form__controls">
      <button [disabled]="!isButtonActive" mat-raised-button color="primary" type="submit">Submit</button>
      <a [href]="routePaths.registration">Dont have an account?</a>
    </div>
  </form>
</div>
