.anime {
  display: grid;
  box-shadow: var(--base-box-shadow);
  grid-template-columns: 1fr 3fr;
  padding: 10px;
  column-gap: 10px;
}

.anime__title,
.anime__section-header {
  font-weight: bold;
  line-height: var(--text-line-height);
  font-size: var(--base-font-size);
  margin-top: var(--text-margin);
  margin-bottom: var(--text-margin);
}

.anime__section-line {
  display: flex;
  align-items: center;
  column-gap: 5px;
}

.anime__image {
  --anime-image-width: 256px;

  width: var(--anime-image-width);
  height: auto;
  object-fit: cover;
  cursor: pointer;
}

.anime__content {
  display: grid;
  grid-template-columns: 1fr;
}

.anime__header {
  display: grid;
  grid-template-columns: 6fr 1fr;
}

.anime__status {
  text-align: center;
}

.anime__aired {
  padding: 10px;
}

.anime__status-text {
  background-color: var(--primary-color);
  border-radius: var(--base-border-radius);
}

.anime__studios-list,
.anime__genres-list {
  display: flex;
  column-gap: 5px;
  grid-column: 1 / 3;
  margin-block-start: 0;
  font-size: var(--small-font-size);
}

.anime__studios-list .anime__list-item,
.anime__genres-list .anime__list-item {
  list-style: none;
  background-color: var(--base-color-light);
  border-radius: var(--base-border-radius);
  padding: 5px;
}

.anime__section-text {
  margin-bottom: unset;
  font-weight: bold;
}

.anime__trailer {
  width: 100%;
  height: 100%;
  min-height: 512px;
}

.anime__error-text {
  text-align: center;
  grid-column: 1 / 3;
  color: var(--error-color);
  align-self: center;
}
