.navbar {
  background-color: var(--base-color);
  color: var(--navbar-text-color);
  height: 100%;
  position: relative;
  display: flex;
  justify-content: space-between;
}

.navbar__brand {
  font-size: var(--brand-font-size);
  padding-left: 10px;
  position: relative;
}

.navbar__brand-image {
  height: 50px;
  width: auto;
}

.navbar__user-dropdown-link {
  height: 100%;
}

.dropdown-trigger {
  color: var(--navbar-text-color);
  background-color: unset;
  border: unset;
  display: flex;
  height: 100%;
  align-items: center;
}

/* Disable default materialize focus */
.dropdown-trigger:focus {
  background-color: unset;
}

.navbar__login-link,
.navbar__user-dropdown-link {
  display: none;
}

.password-rules__list-item_error {
  color: var(--error-color);
}

.password-rules__list-item_success {
  color: var(--success-color);
}

.back-link {
  padding-top: 10px;
}

.back-link__link {
  display: flex;
  align-items: center;
}

.input-field__error {
  font-size: var(--input-error-font-size);
  color: var(--error-color);
}

.base-error__text {
  color: var(--error-color);
  font-size: var(--base-error-font-size);
}

.page-title {
  font-size: var(--header-font-size);
}

/* Modal window */

.modal-window {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  z-index: 1;
  padding: 20px;
  overflow: auto;
  justify-content: center;
  align-items: center;
  background-color: var(--base-color-light);
}

.modal-window_opened {
  display: flex;
}

.modal-window__content {
  width: fit-content;
  max-width: 80%;
}

.modal-window__image {
  max-width: 100%;
}
