.navbar {
  background-color: var(--base-color);
}

/* Material style */
.nav-wrapper {
  padding-inline: 10px;
}

.brand-logo__image {
  height: 50px;
  width: auto;
}

.navbar__login-link,
.navbar__user-dropdown-link {
  display: none;
}
