:root {
  /* Colors */
  --base-color: rgb(92 131 165);
  --primary-color: rgb(82 190 17);
  --primary-text-color: rgb(65 143 20);
  --base-color-light: rgb(92 131 165 / 30%);
  --navbar-text-color: rgb(255 255 255);
  --navbar-hover-color: rgba(0 0 0 / 10%);

  /* Elements styles */
  --base-box-shadow: 0 0 20px rgba(107 114 113 / 15%);
  --base-border-radius: 5%;

  /* Text styles */
  --icons-font: "Material Icons", sans-serif;
  --base-font-size: 1rem;
  --small-font-size: 0.8rem;
  --controls-font-size: 1.2rem;
  --controls-icons-font-size: 1.5rem;
  --base-error-font-size: 1rem;
  --input-error-font-size: 0.6rem;
  --brand-font-size: 2.5rem;
  --header-font-size: 2rem;
  --text-margin: 1em;
  --text-line-height: 1.5;

  /* Items sizes */
  --base-inline-height: 1.333;
  --table-header-width: 128px;
  --table-row-image-size: 128px;
  --anime-image-width: 256px;
}
