.anime-table__row-image {
  width: var(--table-row-image-size);
  height: var(--table-row-image-size);
  object-fit: cover;
}

.filters {
  display: flex;
  column-gap: 10px;
  padding-inline: 10px;
}

.anime-table__empty-message {
  text-align: center;
  padding: 10px;
}
