<mat-progress-bar
  *ngIf="listManager.isLoading$ | async"
  color="accent"
  mode="indeterminate"
></mat-progress-bar>
<div class="filters">
  <mat-form-field>
    <mat-label>Search</mat-label>
    <input matInput type="search" [formControl]="filtersForm.controls.search" />
  </mat-form-field>
  <mat-form-field>
    <mat-label>Select type</mat-label>
    <mat-select [multiple]="true" [formControl]="filtersForm.controls.type">
      <mat-option *ngFor="let type of animeType.typesList" [value]="type">
        {{ type | animeType }}
      </mat-option>
    </mat-select>
  </mat-form-field>
</div>
<mat-table
  [dataSource]="animeList$"
  matSort
  (matSortChange)="onSortChanged($event)"
  [trackBy]="trackById"
>
  <ng-container matColumnDef="image">
    <mat-header-cell *matHeaderCellDef>Image</mat-header-cell>
    <mat-cell *matCellDef="let anime">
      <a
        class="anime-table__row-link"
        [routerLink]="routePaths.anime + '/' + anime.id"
        ></a>
      <img
        class="anime-table__row-image"
        [alt]="anime.titleEng"
        [src]="anime.image"
      />
    </mat-cell>
  </ng-container>

  <ng-container matColumnDef="titleEng">
    <mat-header-cell mat-sort-header *matHeaderCellDef>
      Title English
    </mat-header-cell>
    <mat-cell *matCellDef="let anime">{{ anime.titleEng }}</mat-cell>
  </ng-container>

  <ng-container matColumnDef="titleJpn">
    <mat-header-cell *matHeaderCellDef>Title Japan</mat-header-cell>
    <mat-cell *matCellDef="let anime">{{ anime.titleJpn }}</mat-cell>
  </ng-container>

  <ng-container matColumnDef="airedStart">
    <mat-header-cell mat-sort-header *matHeaderCellDef>
      AiredStart
    </mat-header-cell>
    <mat-cell *matCellDef="let anime">
      {{ anime.airedStart | formattedDate }}
    </mat-cell>
  </ng-container>

  <ng-container matColumnDef="type">
    <mat-header-cell *matHeaderCellDef>Type</mat-header-cell>
    <mat-cell *matCellDef="let anime">{{ anime.type | animeType }}</mat-cell>
  </ng-container>

  <ng-container matColumnDef="status">
    <mat-header-cell mat-sort-header *matHeaderCellDef>Status</mat-header-cell>
    <mat-cell *matCellDef="let anime">{{
      anime.status | animeStatus
    }}</mat-cell>
  </ng-container>

  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row class="anime-table__row" *matRowDef="let anime; columns: displayedColumns"></mat-row>
  <div class="anime-table__empty-message" *matNoDataRow>
    There are no anime for these filters
  </div>
</mat-table>

<mat-paginator
  *ngIf="listManager.pagination$ | async as pagination"
  color="primary"
  showFirstLastButtons
  [pageSizeOptions]="[5, 10, 20]"
  [pageSize]="pagination.pageSize"
  [pageIndex]="pagination.page"
  [length]="pagination.totalCount"
  (page)="onPaginationChanged($event)"
>
</mat-paginator>
