.form-wrapper {
  display: flex;
  flex-direction: column;
  margin: auto;
  width: 50%;
  justify-content: center;
  row-gap: 10px;
}

.form {
  display: flex;
  flex-direction: column;
  width: 100%;
  row-gap: 10px;
}

.form__controls {
  display: flex;
  justify-content: space-between;
}
